.contenedorTodo{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.imagen5de6{
    display:flex;
    width: 160px;
    height: 138px;
    padding-left: 6rem;
}

.textoSuperado{
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 48px;
    color:#4A4D9B;
    justify-content: center;
}

.botonBlanco{
   
        width: 182px;
        height: 64px;
        display: flex;
        border-radius: 10px;
        background-color: white;
        font-family: 'Atkinson Hyperlegible';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        flex-direction: column;
        align-items: center;
        display: flex;
    }
    .botonWhite{
        display:flex
    }
    
    .botonYellow {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }