.container_bottombar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding-top: 1rem;
    margin-left: -.5rem;
    border-radius: 3rem 3rem 0rem 0rem;
    box-shadow: -5px -20px 45px -34px rgba(189,189,189,1);

}

.bottombar_icono {
    color: black;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 50%;
}

small {
    width: 100%;
    display: flex;
    justify-content: center;
}


.home-link {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('/public/images/dark_home.svg');
    min-width: 40px;
    max-height: 40px;
    overflow: hidden;
    
}
.active-home {
    color:#FF9E0F;
    background-image: url('/public/images/light_home.svg');
}

.tutoriales-link {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('/public/images/dark_tutoriales.svg');
    min-width: 40px;
    max-height: 40px;
    overflow: hidden;
}
.active-tutoriales {
    color:#FF9E0F;
    background-image: url('/public/images/light_tutoriales.svg');
}
.aprendamos-link {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('/public/images/dark_aprendamos.svg');
    min-width: 40px;
    max-height: 40px;
    overflow: hidden;
}
.active-aprendamos {
    color:#FF9E0F;
    background-image: url('/public/images/light_aprendamos.svg');
}
.logros-link {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('/public/images/dark_logros.svg');
    min-width: 40px;
    max-height: 40px;
    overflow: hidden;
}
.active-logros {
    color:#FF9E0F;
    background-image: url('/public/images/light_logros.svg');
}
.perfil-link {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('/public/images/dark_perfil.svg');
    min-width: 40px;
    max-height: 40px;
    overflow: hidden;
}
.active-perfil {
    color:#FF9E0F;
    background-image: url('/public/images/light_perfil.svg');
}

p {
    margin-top: .4rem;
}
.iconos_bb{
    min-width: 40px;
    min-height: 40px;
    margin-bottom: 5px;
}

