.contenedorLoginEntero {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height:100vh;
    background: rgb(31, 50, 98);
  background: linear-gradient(90deg, rgba(31, 50, 98, 1) 0%, rgba(74, 77, 155, 1) 31%, rgba(73, 188, 196, 1) 100%);
  padding-top: 25px;
   
}


.loginLogo{
  width: 128px;
  height: 104.58px;
}
/* body{
  background: rgb(31, 50, 98);
  background: linear-gradient(90deg, rgba(31, 50, 98, 1) 0%, rgba(74, 77, 155, 1) 31%, rgba(73, 188, 196, 1) 100%);
  
}
 */
.inputCorreo{
    display: flex;
    margin: 10px;
    
      display: flex;
      margin: 10px;
      flex-direction: column;

      width: 311px;
      height: 64px;
         
  
}




.inputContrasena{
    display: flex;
    margin: 10px;
   flex-direction: column;
   width: 311px;
height: 64px;
   
}

.formularioLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  font-size: 20px;

}

.formularioLogin label{
      color: white;
      padding-left: 10px;
      font-size: 20px;
    }

.formularioLogin input{
  border-color: #4A4D9B;
}

.botonLogin{
  display: flex;
}


.recordarContrasena{
  display: flex;
  margin: 10px;
  flex-direction: column;
  color: white;
}

.checkYLabel{
  display: flex;
  margin: 10px;

}
.llevarAlRegistro{
  margin-top: 50px;
  color: #FAFAFA;
  font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
text-decoration-line: underline;

}
.llevarAlRegistro a{
  color: #FAFAFA;
}

.botonAcceder{
  color: #1F3262;
  font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 32px;
/* or 160% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;
}



/* SWITCH */

.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.contenedorSwitch {
  display: flex;
  flex-direction: row-reverse;
  align-content: stretch;
  align-items: center;
}